/*
Changes:
1. colors for header bar
2. paypal-button styling
3. Background image to maple house picture
*/

.bg-secondary {
  background-color: #555555 !important;
}

#mainNav .navbar-brand {
  color: transparent; }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: transparent; }

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: black; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgba(255, 255, 255, 0.7); }

#paypal-button {
  color: white;
  background-color: #F05F40;
  text-transform: none;
}

header.masthead {
  background-image: url('../img/maple-cover.jpg');
}

div.schedule-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
}

div.schedule-wrapper ul {
  list-style: none;
}

div.schedule-wrapper h5 {
  text-align: center;
}

/* Combines with the .service-box class from creative.css to create
  weekly schedule cards */
div.schedule-card {
  border: 2px solid #222;
  border-radius: 15px;
  padding: 10px;
}

div.schedule-card ol {
  list-style-type: none;
}

div.schedule-card ol li.tutoring-color {
  background-color: #F05F40;
  border-radius: 15px;
}

div.schedule-card ol li.bible-color {
  color: white;
  background-color: #222222;
}

div.schedule-card ol li.food-color {
  background-color: white;
}
