/*
Changes:
1. colors for header bar
2. paypal-button styling
3. Background image to maple house picture
*/

#mainNav .navbar-brand {
  color: transparent; }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: transparent; }

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: black; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgba(255, 255, 255, 0.7); }

#paypal-button {
  color: white;
  background-color: #F05F40;
  text-transform: none;
}

header.masthead {
  background-image: url('../img/maple-cover.jpg');
}
