/*
Changes:
1. colors for header bar
2. paypal-button styling
3. Background image to maple house picture
*/

.bg-secondary {
  background-color: #555555 !important;
}

#mainNav .navbar-brand {
  color: transparent; }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: transparent; }

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: black; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgba(255, 255, 255, 0.7); }

#paypal-button {
  color: white;
  background-color: #F05F40;
  text-transform: none;
}

/* Content above doesn't have margins applied */
.btn-schedule {
  margin-top: 20px;
}

header.masthead {
  background-image: url('../img/maple-cover.jpg');
}

div.schedule-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "su"
                       "tu"
                       "we"
                       "th";
  grid-row-gap: 30px;
  margin-top: 20px;
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
  div.schedule-card-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "su tu"
                         "we th";
    grid-column-gap: 30px;
  }
}

@media only screen and (min-width: 992px) {
  div.schedule-card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "su tu we th";
    grid-column-gap: 30px;
  }
}

div.schedule-card {
  background-color: #bfbfbf;
  /* background-color: white; */
  /* background-color: #F05F40; */
  border-radius: 15px;
  padding: 10px;
  box-shadow: -3px 7px 9px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.schedule-card.sunday {
  grid-area: su;
}

div.schedule-card.tuesday {
  grid-area: tu;
}

div.schedule-card.wednesday {
  grid-area: we;
}

div.schedule-card.thursday {
  grid-area: th;
}

div.schedule-grid {
  display: grid;
  /* grid-template-columns: 0.15fr 1fr; */
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  grid-row-gap: 5px;
  grid-column-gap: 15px;
  padding: 0 10px 0 10px;
}

div.schedule-grid.sunday {
  grid-template-areas: "time-12 foo"
                       "time-13 bib"
                       "time-14 .  ";
}

div.schedule-grid.tuesday {
  grid-template-areas: "time-15 tut"
                       "time-16 tut"
                       "time-17 tut"
                       "time-18 .  ";
}

div.schedule-grid.wednesday {
  grid-template-areas: "time-15 tut"
                       "time-16 tut"
                       "time-17 tut"
                       "time-18 foo"
                       "time-19 bib";
}

div.schedule-grid.thursday {
  grid-template-areas: "time-15 tut"
                       "time-16 tut"
                       "time-17 tut"
                       "time-18 .  ";
}

div.schedule-grid div.event {
  border-radius: 15px;
  padding-left: 10px;
  /* box-shadow value from: https://www.w3schools.com/css/css3_shadows.asp */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.schedule-grid div.tutoring {
  grid-area: tut;
  background-color: #F05F40;
  /* background-color: #555555; */
  color: white;
}

div.schedule-grid div.food {
  grid-area: foo;
  background-color: white;
}

div.schedule-grid div.bible {
  grid-area: bib;
  background-color: #222222;
  color: white;
}
